# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Test output
*.log

# delve debug binary
__debug_bin

# binaries
/hotstuff
/plot
/hscov

# other
*.in

rr/

scripts/id
scripts/id.pub
scripts/known_hosts

measurements.json
*.pdf

twins.json
internal/tree/benchmarkdata/*
core/eventloop/benchmarkdata/*
eventloop/benchmarkdata/*
scratch/*
